* {
	margin: 0;
	padding: 0;
}

body {
font-style: PTSans;
font-size: 14px;
line-height: 21px;
color: #333333;	
text-transform: uppercase;
}

.container {
	width: 768px;
	margin: 0 auto;
	background-color: ;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.main-navigation  {

}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.main-navigation li {
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: middle;
}

.logo {
	height: 54px;
	z-index: 1;
	position: relative;
}

.image-intro {
	background-image: url('../img/bg-1.jpg');
	background-size: cover;
	height: 500px;
	width: 100%;
	text-align: center;
	padding-top: 74px;
	box-sizing: border-box;
	position: relative;
}

.down {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.intro-phrases {
	margin: 60px auto;
	max-width: 500px;
	text-align: center;
}

.reason-parent {
	height: 256px;
}

.reason1-2 {
	display: inline-block;
	width: 33%;
	padding: 40px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: top;
}

.reason1-img {
	background-image: url('../img/reason1.jpg');
	display: inline-block;
	width: 67%;
	height: 100%;
	background-size: cover;
}

.additional-reasons {
	vertical-align: top;
}

.additional-reasons-card {
	display: inline-block;
	background-color: yellow;
	width: 33%;
	vertical-align: top;
	padding: 50px 30px 65px 30px;
	box-sizing: border-box;
}

.phrase-1 {
font-style: PTSans;
font-weight: bold;
font-size: 21px;
line-height: 24px;
color: #000000;	
text-transform: uppercase;
margin-bottom: 40px;
}

.phrase-2 {
font-style: PTSans;
font-size: 14px;
line-height: 16px;
color: #333333;	
text-transform: uppercase;
}

.phrase-3 {
font-style: PTSans;
font-weight: bold;
font-size: 30px;
line-height: 26px;
color: #000000;	
text-transform: uppercase;	
}

